.edit-button{
  margin: 10px;
  box-shadow:#FF1744 2px 2px 2px;
}
.delete-button{
  margin: 10px;
  box-shadow:#FF9800 2px 2px 2px;
}
.addStudent {
  background-color: #16a085;
  box-shadow: 5px 5px 5px;
}
.delStudent {
  background-color: #16a085;
  box-shadow:5px 5px 5px;
}
body {
  font-family: 'Indie Flower', cursive;
  background-color: #ecf0f1;
  font-size: 30px;
}
td{
  width: 20%;
}
